
@{
    ViewBag.Title = "EditEmployee";
}

<div class="cstm-page-header">
    <div class="info">
        <i class="fa fa-user"></i>
        <label class="value">Edit Employee</label>
    </div>
</div>